body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  margin-bottom: 80px;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#home > section {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.main {
  flex: 1;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
}

a:hover {
  color: #da0833 !important;
}

.BackgroundImage {
    background: #242c36 url(./home.jpg) no-repeat center center fixed;
  background-size: cover;
}

.pagination {
  display: flex;
  padding-left: 0px;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.politicianimg {
  height: 25vw;
}

.donorimg {
  height: 20vw;
}

.districtimg {
  height: 12vw;
}

.aboutimg {
  height: 20vw;
}

.card-widget {
  height: 100%;
}

.card-text {
  padding-top: 10px;
}

.bios > .card {
  flex-basis: content;
  flex: 1;
}

.bios > * {
  margin-top: 10px;
}

.highlight {
  font-weight: bold;
}

.dropdown-menu {
  max-height: 10vw;
  overflow-y: scroll;
}

.table td, 
.table th {
    white-space: nowrap;
    width: 1%;
}