/*------------------------------------------------------------------

Project:	Jober Desk
Version:	1.0
Last change:	7/08/17
Primary use:	Online Job Portal Theme
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700');
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
background:#ffffff;
font-family: 'Montserrat', sans-serif;
font-size:15px;
color:#636e7b;
}
section{
padding:70px 0px 60px 0px;
}
h1, h2, h3, h4, h5, h6 {
    color:#242c36;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-weight: bold;
}
.dark{
background:#f4f5f7;
}
.form-control {
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 45px;
    margin-bottom: 10px;
    box-shadow: none;
    font-size: 14px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #da0833;
    border-color: #da0833;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: none;
    padding: 10px 25px;
}
.form-control::-moz-placeholder{color:#8796a9;opacity:1}
.form-control:-ms-input-placeholder{color:#8796a9}
.form-control::-webkit-input-placeholder{color:#8796a9}
/*---------------Navigation Start-----------------*/
nav.navbar.bootsnav ul.nav > li > a {
    color: #6b797c;
	font-weight:400;
	font-size:14.2px;
	font-family: 'Montserrat', sans-serif;
    background-color: transparent !important;
}
nav.navbar.bootsnav ul.nav > li > a:hover{
color:#da0833;
}
nav.navbar.bootsnav ul.nav > li.active> a{
color:#da0833;
}
@media (min-width: 1024px){
nav.navbar li.dropdown ul.dropdown-menu {
border-top: solid 5px #da0833 !important;
}
}
nav a{
  list-style: none;
  margin: 0 2px;
  padding: 6px;
  display: flex;
  justify-content: space-around;
}

/*-------------------Banner Start-----------------------*/
.main-banner{background-size:cover !important;background-position:center !important;padding:14% 0;position:relative;text-align:center;color:#ffffff;margin:0;}
.main-banner .caption{
position:relative;
}
.main-banner h2{
color:#ffffff;
font-weight:400;
display: block;
 margin-bottom: 25px;
}
.main-banner:before{
content:"";
display:block;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
background:rgba(12,20,25,0.3);
}
fieldset {
margin-top: 52px;
background: rgba(255,255,255,0.3);
padding: 20px 20px 10px 20px;
}
fieldset .no-pad{
margin:0;
padding:0;
}
.main-banner fieldset select.selectpicker, .main-banner fieldset .form-control, .main-banner fieldset .seub-btn {
width: 100%;
color: #6b797c;
padding: 19px 15px;
border: none;
border-radius: 0;
height: auto;
line-height: 1.5;
font-size: 16px;
height:60px;
}
.main-banner fieldset select.selectpicker:focus, .main-banner fieldset .form-control:focus, .main-banner fieldset .seub-btn:focus{
outline:none;
}
.main-banner fieldset .border-right{
border-right:1px solid rgba(107,121,124,0.3) !important;
}
.main-banner .btn.seub-btn{
background:#da0833 ;
color:#ffffff;
text-transform:uppercase;
font-size:18px;
text-shadow:none;
line-height: 1.2;
}

/*--------------------Default Page Header-----------------------*/
.jumbotron{
background-size:cover;
background-position:center;
padding:13% 0;
position:relative;
text-align:center;
color:#ffffff;
margin:0;
}
.jumbotron:before{
content:"";
display:block;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
background:rgba(12,20,25,0.5);
}
.user-img{
margin-top: 15px;
max-width:220px;
position:relative;
margin:0 auto;
}
.jumbotron img{
display:table;
max-width:200px;
border-radius:50%;
margin:0 auto;
position:relative;
border:6px solid rgba(255,255,255,0.8);
}
.caption.bott{
margin-bottom:80px;
}
.notify {
position: relative;
margin-top: -5px;
}
.notify .ring {
position: absolute;
top: -20px;
left: 50px;
height: 25px;
width: 25px;
z-index: 10;
border: 5px solid #da0833;
border-radius: 100%;
-moz-animation: ring 1s ease-in;
-moz-animation-iteration-count: infinite;
-o-animation: ring 1s ease-in;
-o-animation-iteration-count: infinite;
-webkit-animation: ring 1s ease-in;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
.notify .ring-point {
width: 6px;
height: 6px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 100%;
background-color: #da0833;
position: absolute;
left: 59px;
top: -10px;
}
@-moz-keyframes ring{0%{-moz-transform:scale(0);opacity:0}25%{-moz-transform:scale(.1);opacity:.1}50%{-moz-transform:scale(.5);opacity:.3}75%{-moz-transform:scale(.8);opacity:.5}100%{-moz-transform:scale(1);opacity:0}}@-webkit-keyframes ring{0%{-webkit-transform:scale(0);opacity:0}25%{-webkit-transform:scale(.1);opacity:.1}50%{-webkit-transform:scale(.5);opacity:.3}75%{-webkit-transform:scale(.8);opacity:.5}100%{-webkit-transform:scale(1);opacity:0}}
.jumbotron h4{
font-size:28px;
margin-top:12px;
margin-bottom:10px;
position:relative;
color:#ffffff;
}
.jumbotron p{
font-size:17px;
position:relative;
}
.jumbotron p span{
font-size:14px;
color:#13ad00;
}
.basic-information{
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 30px 30px 20px;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
	border: 1px solid #eaecf1;
	display: table;
    width: 100%;
}

.profile-detail img{
border:4px solid rgba(107,121,124,0.2);
}
.basic-information h2{
margin:0;
margin-bottom:10px;
color:#404b4d;
}
.basic-information h2 span{
color:#da0833;
font-size:15.5px;
display:block;
}

.basic-information p{
font-size:17px;
}
.information{
margin:0;
padding:0;
}

.information li{
display:block;
padding:10px 0;
font-size:15.5;
list-style:none;
border-bottom:1px solid rgba(107,121,124,0.1);
}
.information li span{
display: inline-block;
font-weight:bold;
width:150px;
}
.social{
margin:0;
padding:50px 0;
display:inline-block;
width:100%;
}
.social li{
list-style:none;
float:left;
margin-bottom:7px;
}
.social li a{
font-size:15px;
color:#6b797c;
}
.social li:hover a, .social li:focus a{
text-decoration:none;
}
a.facebook {
    border: 1px solid #295396;
    width: 90%;
    display: inline-block;
   padding: 4px 5px;
    border-radius: 50px;
}
a.google {
    border: 1px solid #d6201f;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
a.twitter {
    border: 1px solid #1da0f2;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
a.linkedin {
    border: 1px solid #0077b5;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
a.instagram {
    border: 1px solid #d3368c;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
.social li i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 42px;
    text-align: center;
	margin-right:7px;
}

.social li .facebook i{
background:#295396;
}
.social li .google i{
background:#d6201f;
}
.social li .twitter i{
background:#1da0f2;
}
.social li .linkedin i{
background:#0077b5;
}
.social li .instagram i{
background:#d3368c;;
}
.panel {
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: none;
border: none;
}
.panel-default>.panel-heading {
background: #f4f5f7;
box-shadow: none;
border: none;
color: #505a5d;
}
.basic-information p {
font-size: 16px;
line-height: 1.9;
}
.service-tag {
background-color: #da0833;
border-radius: 0 2px 2px 0;
color: #fff;
display: inline-block;
font-size: 11px;
font-weight: 700;
line-height: 1.2727272727;
margin: 2px 4px 2px 10px;
padding: 3px 7px;
position: relative;
text-transform: uppercase;
}
.service-tag:after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 4px;
position: absolute;
top: 8px;
left: -2px;
width: 4px;
}
.service-tag:before {
border-top: 10px solid transparent;
border-right: 8px solid #da0833;
border-bottom: 10px solid transparent;
content: "";
height: 0;
position: absolute;
top: 0;
left: -8px;
width: 0;
}
.panel-body ul{
margin:0;
padding:0;
margin-top:20px;
}
.panel-body ul li{
list-style:none;
line-height:1.7;
padding: 0 0 6px 10px;
margin: 10px 0;
margin-left: 16px;
}
.panel-body ul li:before{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
content: "\f067";
color:#da0833;
padding: 8px 12px 8px 5px;
margin-left: -31px;
}

/*----------------------------Features Style-------------------------*/
.features-content {
border: 1px solid #f4f5f7;
padding: 20px 15px;
text-align: center;
border-radius: 5px;
margin-bottom:30px;
box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
}
.features-content h3{
font-weight:400;
color:#475052;
font-size:18px;
text-transform:uppercase;
margin-bottom:0;
}

.features-content p{
font-weight:300;
color:#6b797c;
line-height:1.8;
font-size:14px;
}

.features-content span{
font-size:45px;
margin-bottom:25px;
color:#da0833;
}


/*-----------------------counter Section start-------------------------*/
.counter{
background:#da0833;
padding:60px 0;
}

.counter-text{
text-align:center;
color:#ffffff;
}

.counter-text h3{
color:#ffffff;
font-weight:400;
font-size:32px;
margin-bottom:5px;
}

.counter-text p{
color:#ffffff;
font-weight:400;
font-size:17px;
text-transform:uppercase;
margin-bottom:0;
}

.counter-text span{
font-size:35px;
color:rgba(255,255,255,0.7);
margin-bottom:15px;
}

/*---------------------Membrcard---------------*/
.card-widget {
    background-color: #fff;
    border-color: #d7dfe3;
    border:none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
    box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
    border-radius: 6px;
	text-align:center;
    overflow: hidden;
    transition: .7s;
    margin-bottom: 30px;
}
.user-card .u-img {
    margin-bottom: -42px;
    height: 150px;
}
.user-card .u-content {
    padding: 0 1.25rem 1.25rem;
    margin-top: 15px;
}
.user-card .avatar {
    margin: 0 auto 2rem auto;
    position: center;
    display: block;
    max-width: 200px;
}
.avatar.box-80 i {
    position: absolute;
    bottom: -6px;
    left: 37px;
    color: #07b107;
}
.u-content h5 {
    font-size: 18px;
	color:#242c36;
    margin-bottom: 5px;
}
.text-muted {
    margin-bottom: 5px;
}
.user-social-profile {
    padding:5px 0 25px 0;
}
.user-social-profile ul {
    padding: 0;
    margin: 0;
}
.user-social-profile ul li {
    list-style: none;
    display: inline-block;
    padding: 0 4px;
}
.user-social-profile ul li a i {
    background: rgba(99, 110, 123,0.1);
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 17px;
    border-radius: 50%;
    color: #636e7b;
}
.user-social-profile ul li a i:hover, .user-social-profile ul li a i:focus{
background:#da0833;
color:#ffffff;
}
/*----------------Newsletter Style----------------*/
.newsletter {
    text-align: center;
}
.newsletter h2 {
    font-weight: 500;
	margin-bottom: 5px;
}
.newsletter p {
    font-size: 23px;
    font-family: initial;
    font-style: italic;
}
.newsletter input.form-control {
    border: 1px solid #e3e6ea;
    box-shadow: none;
}
.newsletter button.btn.btn-default {
    background:#da0833;
	text-transform:uppercase;
    border-color:#da0833;
    color: #ffffff;
}

/*-------------------Inner page Start-----------------------*/
.inner-banner{
background-size:cover !important;
background-position:center !important;
padding:7% 0;
position:relative;
text-align:center;
color:#ffffff;
margin:0;
}
.inner-banner .caption{
position:relative;
}
.inner-banner h2{
color:#ffffff;
font-weight:400;
display: block;
 margin-bottom: 25px;
}
.inner-banner p{
color:#ffffff;
font-weight:300;
display: block;
font-size:20px;
margin-top:15px;
}
.inner-banner p span{
color:#da0833;
}
.inner-banner:before{
content:"";
display: block;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
background:rgba(12,20,25,0.7);
}

/*------------------footer design-------------------------*/
footer{
background:#242c36;
padding:60px 0 0 0;
}
.copy-right{
background:rgba(10,10,10,0.2);
padding:12px 0;
text-align:center;
margin-top:50px;
}
.copy-right a{
color:#da0833;	
}
footer img{
margin-bottom:20px;
}
footer h4{
color:rgba(255,255,255,0.7);
text-transform:uppercase;
font-size:20px;
font-weight:400;
}
footer ul{
margin:0;
padding:0;
}
footer ul li{
list-style:none;
}
footer ul li a{
color:#636e7b;
line-height:2;
}
footer ul li a:hover{
color:#da0833;
}
footer address ul li{
margin-bottom:10px;
line-height:1.8;
}
footer .form-control {
    border: 1px solid #3f4a58;
    margin-bottom:7px;
    border-radius: 2px;
    box-shadow: none;
    color: #8796a9;
    height: 45px;
	font-size:14px;
    background: #333d4a;
}
footer textarea.form-control{
height:70px;
}
footer button.btn.btn-primary {
    border-radius: 2px;
    min-width: 120px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    background: #da0833;
    border: 1px solid #da0833;
}
footer .form-control::-moz-placeholder{color:#8796a9;opacity:1}
footer .form-control:-ms-input-placeholder{color:#8796a9}
footer .form-control::-webkit-input-placeholder{color:#8796a9}
/*---------------------------responsive start-----------------------*/
@media only screen and (max-width: 767px){
.social li{
width:100%;
}
.main-banner select {
    margin-bottom: 10px;
}
.company-content p span {
    display: block;
}
.input-group {
    width: 100%;
    display: block;
}
.newsletter button.btn.btn-default {
    margin: 5px 0;
    width: 100%;
    height: 42px;
    border-radius: 2px;
}
.input-group-addon, .input-group-btn {display: table;width: 100%;margin: 0;padding: 0;}
.inner-banner h2{
margin-bottom:2px;
}
.inner-banner p {
    margin-top: 2px;
}
.basic-information p {
    font-size: 14px;
    line-height: 1.9;
}
}

@media only screen and (min-width: 768px){

.main-banner h2{
font-size:82px;
}
.inner-banner h2{
font-size:82px;
}
.social li{
width:20%;
}
.newsletter button.btn.btn-default, .newsletter input.form-control {
    height: 60px;
	padding: 0 20px;
}
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

